nav {
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2B2B2C;
}

.logo {
    margin-left: 10%;
}

.nav {
    margin-right: 10%;
}

.home {
    color: white;
    padding: 10px 25px 0px 0px;
}

.home:hover {
    text-decoration: none;
}

.btn-flat {
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    background: #1EDD88;
}
  
.btn-flat:hover {
   background: #1BCB7F;
}